%svg-common {
	background: url("svg/sprite.view-0cbfd85f.svg") no-repeat;
}

.svg-checked {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-checked-dims {
	width: 32px;
	height: 21.33px;
}

.svg-chevron-arrow-down {
	@extend %svg-common;
	background-position: 100% 57.648648648648646%;
}

.svg-chevron-arrow-down-dims {
	width: 10px;
	height: 7px;
}

.svg-close {
	@extend %svg-common;
	background-position: 0 96.95454545454545%;
}

.svg-close-dims {
	width: 22px;
	height: 22px;
}

