%svg-common {
	background: url("svg/sprite.view-ea266120.svg") no-repeat;
}

.svg-chevron-arrow-down {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-chevron-arrow-down-dims {
	width: 32px;
	height: 32px;
}

.svg-close {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-close-dims {
	width: 32px;
	height: 32px;
}

