.overlay.overlay-slideright
  .overlay__header
    .container
      button.overlay__close(type='button') Close
      h2.sub-heading.overlay__heading Марка
  .overlay__body
    .container
      nav.navbar
        ul.nav
          li.nav__item
            a.nav__link(href='#') Home
          li.nav__item
            a.nav__link(href='#') About
          li.nav__item
            a.nav__link(href='#') Work
          li.nav__item
            a.nav__link(href='#') Clients
          li.nav__item
            a.nav__link(href='#') Contact
