#modal-1.overlay.overlay-slideright
  .overlay__wrapper
    .overlay__header
      .container
        button.overlay__close(type='button') Close
        h2.sub-heading.overlay__heading Марка
    .overlay__body
      .container
        nav.navbar
          ul.nav
#modal-2.overlay.overlay-slideright
  .overlay__wrapper
    .overlay__header
      .container
        button.overlay__close(type='button') Close
        h2.sub-heading.overlay__heading Модель
    .overlay__body
      .container
        nav.navbar
          ul.nav
#modal-3.overlay.overlay-slideright
  .overlay__wrapper
    .overlay__header
      .container
        button.overlay__close(type='button') Close
        h2.sub-heading.overlay__heading Память
    .overlay__body
      .container
        nav.navbar
          ul.nav
#modal-4.overlay.overlay-slideright
  .overlay__wrapper
    .overlay__header
      .container
        button.overlay__close(type='button') Close
        h2.sub-heading.overlay__heading Цвет
    .overlay__body
      .container
        nav.navbar
          ul.nav
#modal-5.overlay.overlay-slideright
  .overlay__wrapper
    .overlay__header
      .container
        button.overlay__close(type='button') Close
        h2.sub-heading.overlay__heading Состояние
    .overlay__body
      .container
        nav.navbar
          ul.nav