.overlay.overlay-slideright
  .overlay__header
    button.overlay__close(type='button') Close
    h2.sub-heading.overlay__heading Марка
  .overlay__body
    nav
      ul
        li
          a(href='#') Home
        li
          a(href='#') About
        li
          a(href='#') Work
        li
          a(href='#') Clients
        li
          a(href='#') Contact
