section.intro
  .container
    .content
      .content__item.content__item--top
        h1.heading Ringeo
      .content__item.content__item--center
        form.form(method="post", action="/")
          .tabs
            .tabs__item.tabs__item--active
              .step
                .step__item
                  .field
                    .field__control.field__control--placeholder(data-toggle='modal', data-target='#modal-1')
                    select#mark.field__select(name='mark')
                      option(value='placeholder') Марка
                      option(value='0') ЛЕГКОВЫЕ
                      option(value='2') МОТОЦИКЛЫ
                      option(value='3') СКУТЕРЫ
                      option(value='7') МОТОВЕЗДЕХОДЫ
                      option(value='9') ЛЕГКИЕ КОММЕРЧЕСКИЕ
                .step__item
                  .field
                    .field__control.field__control--disabled.field__control--placeholder(data-toggle='modal', data-target='#modal-2')
                    select#model.field__select(name='model', disabled)
                      option(value='placeholder') Модель
                      option(value='0') ЛЕГКОВЫЕ
                      option(value='2') МОТОЦИКЛЫ
                      option(value='3') СКУТЕРЫ
                      option(value='7') МОТОВЕЗДЕХОДЫ
                      option(value='9') ЛЕГКИЕ КОММЕРЧЕСКИЕ
                .step__item
                  .field
                    .field__control.field__control--disabled.field__control--placeholder(data-toggle='modal', data-target='#modal-3')
                    select#memory.field__select(name='memory', disabled)
                      option(value='placeholder') Память
                      option(value='0') ЛЕГКОВЫЕ
                      option(value='2') МОТОЦИКЛЫ
                      option(value='3') СКУТЕРЫ
                      option(value='7') МОТОВЕЗДЕХОДЫ
                      option(value='9') ЛЕГКИЕ КОММЕРЧЕСКИЕ
                .step__item
                  .field
                    .field__control.field__control--disabled.field__control--placeholder(data-toggle='modal', data-target='#modal-4')
                    select#color.field__select(name='color', disabled)
                      option(value='placeholder') Цвет
                      option(value='0') ЛЕГКОВЫЕ
                      option(value='2') МОТОЦИКЛЫ
                      option(value='3') СКУТЕРЫ
                      option(value='7') МОТОВЕЗДЕХОДЫ
                      option(value='9') ЛЕГКИЕ КОММЕРЧЕСКИЕ
                .step__item
                  .field
                    .field__control.field__control--disabled.field__control--placeholder(data-toggle='modal', data-target='#modal-5')
                    select#condition.field__select(name='condition', disabled)
                      option(value='placeholder') Состояние
                      option(value='0') ЛЕГКОВЫЕ
                      option(value='2') МОТОЦИКЛЫ
                      option(value='3') СКУТЕРЫ
                      option(value='7') МОТОВЕЗДЕХОДЫ
                      option(value='9') ЛЕГКИЕ КОММЕРЧЕСКИЕ
              button.btn.tabs__btn(type="button" data-tabs-control="next", data-hover="Оценить смартфон" disabled) Оценить смартфон
              p.notify Все поля обязательны для заполнения
            .tabs__item
              span.price.tabs__price 17 500 Р
              p.notify iPhone 6 128ГБ Gold Как новый
              .form-group
                input.form-control(type="tel", name="phone", placeholder="Ваш номер телефон" required)
              .ajax-button
                +svg("checked", "ajax-button__icon ajax-button__icon--done")
                +svg("close", "ajax-button__icon ajax-button__icon--failed")
                button.btn.ajax-button__btn(type="submit" data-tabs-control="next", data-hover="Продать смартфон") Продать смартфон
            .tabs__item
              .success
                .circle
                  +svg("checked", "circle__icon")
                h2.sub-heading.success__heading Ваша заявка отправлена
                p.notify.success__notify Мы свяжемся с вами в ближайшее время
                button.btn.tabs__btn(type="button", data-hover="Оценить другую модель", data-tabs-control="reset") Оценить другую модель
                .text-center
                  a.link(href="#")
                    span.link__text Наш адрес
                    span.link__line.link__line--right
                    span.link__line.link__line--top
                    span.link__line.link__line--left
                    span.link__line.link__line--bottom

      .content__item.content__item--bottom
        .phone
          a.phone__link(href="tel:84951506618") 8 (495) 150-66-18
