// arrow-down
$svg-arrow-down-name: "arrow-down";
$svg-arrow-down-width: em(8);
$svg-arrow-down-height: em(5);
$svg-arrow-down-offset-x: px;
$svg-arrow-down-offset-y: px;
$svg-arrow-down-image: "../img/sprite.svg";
$svg-arrow-down: ( "arrow-down", em(8), em(5), px, px, "../img/sprite.svg" );


$svg-spritesheet-width: px;
$svg-spritesheet-height: px;
$svg-spritesheet-image: "../img/sprite.svg";
$svg-spritesheet-sprites: ( $svg-arrow-down,  );
